[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "layers/meta-homeassistant"]
	path = layers/meta-homeassistant
	url = https://github.com/meta-homeassistant/meta-homeassistant.git
